<!DOCTYPE html>
<html lang="pt-br">
  <%- include('partials/header.ejs')%>
  <body>
    <div class="container">
      <%- include('partials/navbar.ejs')%>
      <h1>Guia Perguntas</h1>
      <hr />

      <h3>Pergunta</h3>

      <div class="row"></div>
    </div>
  </body>
</html>
