<!DOCTYPE html>
<html lang="pt-br">
  <%- include('partials/header.ejs')%>
  <body>
    <div class="container">
      <%- include('partials/navbar.ejs')%>
      <h1>Guia Perguntas</h1>
      <hr />

      <div class="row text-dark">
        <h3 class="text-dark"><%= question.title %></h3>
        <h5><%= question.description %></h5>
      </div>

      <div class="row"></div>
    </div>
  </body>
</html>
