<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Guia perguntas</title>
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <script src="js/bootstrap.bundle.js"></script>
    <script src="js/bootstrap.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="card mt-2 backgrounPrincipal">
        <div class="card-header"><h3>Realizar Pergunta:</h3></div>
        <div class="card-body">
          <form>
            <div class="form-group mb-2">
              <label>Titulo:</label>
              <input class="form-control" type="text" placeholder="Título" />
            </div>

            <div class="form-group mb-2">
              <label>Escreva sua pergunta:</label>
              <textarea
                class="form-control"
                name=""
                placeholder="Escreva a sua pergunta"
                id=""
                cols="30"
                rows="10"
              ></textarea>
            </div>
            <button class="btn btn-outline-light">Perguntar</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
